$btn-font-stack : Helvatica, sans-serif ; 
#conInput {
    float: left; 
    padding: 5px; 
    background-color: darkgray ; 
    font-family: 100% $btn-font-stack;
 }
body{
    text-align: center;
    padding-top: 5px;
}
#btn-Edit{
    color: blue;
    font-family: 100% $btn-font-stack;

}