$btn-font-stack : Helvatica, sans-serif ; 
$btn-color: #d88771;
$bgPrimaryColor: linear-gradient(120deg, #f6d365, #fda085); 
#conInput {
    padding: 5px; 
    font-family: 100% $btn-font-stack;

 }
body{
    background-image: $bgPrimaryColor;
    min-height: 100vh;

}
.Header {
    font-size: 1.6rem;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.contentInputTask {
    min-height: 20vh;
    display: flex ; 
    justify-content: center;
    align-items: center;
    border: none; 
    background: inherit;

}
.addIcon{
     color: white;
     font-family: 100% $btn-font-stack;
     background-color: $btn-color;
     border: none;
     cursor: pointer;
     transition-duration: 0.3s;

}
.addIcon:hover{
   background: white;
   color: $btn-color;
}
.contentAllTask{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputTask{
    border: none;
    outline: none;
}
/* .inputTask:hover{
    outline: none;
} */
.todoList {
    min-width: 30%;
    margin: 10px;
    
}
.todo {
    background: white;
    margin: 10px;
    width: 100%;
    display: flex;
    padding: 5px;
    color: black;
    justify-content: space-between;
    font-size: 1.5rem;
}
.checkedBtn , .editBtn , .trashBtn {
    color: $btn-color;
    background-color: white;
    border: none; 
    padding: 0.3rem;
}
.checkedBtn:hover{
    color: white;
    background:yellowgreen;
     border: none;

}
.editBtn:hover{
    color: white;
    background:green;
     border: none;



}
.trashBtn:hover {
     background:red;
     color: white;
     border: none;
}


form{
    padding: 10px ; 
    background-color: white;
}
ul{
    list-style-type: none;
}
.footer{
    text-align: center;
}
*{
    margin: 0 ; 
    padding: 0 ; 
    box-sizing: border-box;
   
}
