#conInput {
  padding: 5px;
  font-family: 100% Helvatica, sans-serif;
}

body {
  background-image: linear-gradient(120deg, #f6d365, #fda085);
  min-height: 100vh;
}

.Header {
  font-size: 1.6rem;
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

.contentInputTask {
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background: inherit;
}

.addIcon {
  color: white;
  font-family: 100% Helvatica, sans-serif;
  background-color: #d88771;
  border: none;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.addIcon:hover {
  background: white;
  color: #d88771;
}

.contentAllTask {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inputTask {
  border: none;
  outline: none;
}

/* .inputTask:hover{
    outline: none;
} */
.todoList {
  min-width: 30%;
  margin: 10px;
}

.todo {
  background: white;
  margin: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  color: black;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.5rem;
  -webkit-transition: all 0.5 ease;
  transition: all 0.5 ease;
}

.checkedBtn, .editBtn, .trashBtn {
  color: #d88771;
  background-color: white;
  border: none;
  padding: 0.3rem;
}

.checkedBtn:hover {
  color: white;
  background: yellowgreen;
  border: none;
}

.editBtn:hover {
  color: white;
  background: green;
  border: none;
}

.trashBtn:hover {
  background: red;
  color: white;
  border: none;
}

form {
  padding: 10px;
  background-color: white;
}

ul {
  list-style-type: none;
  width: 35%;
}

.footer {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fa-trash, .fa-check {
  pointer-events: none;
}

.checked {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  -webkit-transform: translateY(8rem) rotateZ(20deg);
          transform: translateY(8rem) rotateZ(20deg);
}

.newTodoItem {
  width: inherit;
  text-align: start;
  margin-left: 1.5rem;
  overflow: auto;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  appearance: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #d88771;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background-color: #d88771;
  color: white;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
}

.select::hover::after {
  color: #d88771;
  background-color: #f6d365;
}

.select:hover:after {
  background-color: white;
  color: #d88771;
}
/*# sourceMappingURL=TODO.css.map */